.background {

    display: flex;
    justify-content: center;


    
    &__section {
        background: #2F303A;
        
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        
        // max-width: 1600px;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(to bottom, #2f303a66 0%, #2f303a66 100%),
        url("../images/backgrond.jpg");
        
    }
    
    
    
    
    &__h1 {
        
        // width: 480px;
        
        
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.363;
        /* or 136% */
        
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
        color: #FFFFFF;
        margin: 0 auto;
        
        padding-bottom: 30px;
        max-width: 365px;
    }
}

@media  screen and (min-width:1200px ) {

    .background {
    
            display: flex;
            justify-content: center;
    
    
    
            &__section {
                background: #2F303A;
    
                width: 100%;
                height: 600px;
                display: flex;
                flex-direction: column;
                /* padding-top: 200px; */
                max-width: 1600px;
                justify-content: center;
                align-items: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto auto;
                background-image: linear-gradient(to bottom, #2f303a66 0%, #2f303a66 100%),
                    url("../images/backgrond.jpg");
    
            }
    
    
    
    
            &__h1 {
    
                max-width: 696px;
    
    
                font-style: normal;
                font-weight: 900;
                font-size: 44px;
                line-height: 1.363;
                /* or 136% */
    
                text-align: center;
                letter-spacing: 0.06em;
                text-transform: uppercase;
    
                color: #FFFFFF;
                margin: 0 auto;
    
                padding-bottom: 30px;
            }
        }

    
}