.heading {
  
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.166;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
        padding-bottom: 50px;
        margin: 0;
        padding-top: 94px;
        
        &__list {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 30px;
            
            padding-bottom: 94px;
            margin: 0;
            
        }
        
        &__item {
            display: inline-block;
            width: 370px;
            height: 294px;
            position: relative;
            
            
            &:nth-child(1) {
                padding-left: 0px;
            }
            
            &:nth-child(3) {
                padding-right: 0px;
            }
            
        }
        
        &__description{
    display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
        padding: 27px 0;
        width: 370px;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
    }
}
    
    

