.img {
    display: block;
    width: 370px;
    height: 294px;
    
    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0;
        list-style: none;
        padding: 0;
        padding-bottom: 94px;
        
        
    }
    
    
    &__h5 {
        
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        /* identical to box height, or 200% */
        
        letter-spacing: 0.06em;
        
        color: #212121;
        padding-top: 20px;
        padding-left: 24px;
        margin: 0;
        
        border-left: solid 1px #EEEEEE;
        border-right: solid 1px #EEEEEE;
        
    }
    
    &__p {
        
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.875;
        /* identical to box height, or 188% */
        
        letter-spacing: 0.03em;
        padding-top: 4px;
        padding-left: 24px;
        margin: 0;
        
        color: #757575;
        border-left: solid 1px #EEEEEE;
        border-right: solid 1px #EEEEEE;
        border-bottom: solid 1px #EEEEEE;
        padding-bottom: 20px;
    }
    
    &__item1 {
        justify-content: center;
    width: 370px;
    background: #FFFFFF;
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        cursor: pointer;
    }
}
}