.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    background-color: #fff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    // display: none;
    // padding-top: 21px;
}


.is-open {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    margin-left: auto;

}

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    // font-weight: 500;
    // font-size: 40px;
    // text-decoration: none;
    // line-height: 1.175;
}

.link {
    font-weight: 500;
        font-size: 40px;
        text-decoration: none;
        line-height: 1.175;
        color: #212121;
}

.link:hover, .link:focus {
    color: var(--main-color);
}


.menu-toggle:hover, .menu-toggle:focus {
    color: var(--main-color);
}

.menu-contacts {
    margin-top: auto;
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.menu_contact{
    display: flex;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    text-decoration: none;
    color: #757575;
}

.menu_contact:hover, .menu_contact:focus {
    color: var(--main-color);
}


.menu_socialmedia {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding-top: 64px;
}

.menu_socialmedia-item {
    text-decoration: none;
    margin: 0 10px;
    color: var(--main-color);
}

// .menu-contacts:first-child {
//     padding-bottom: 32px;
// }

@media screen and (min-width: 768px) {
.menu-toggle {
        display: none;
    }


}


 @media screen and (min-width: 1200px) {
    .menu-toggle {
        display: none;
    } 

 }