.socialmedia {

    display: flex;
    justify-content: center;
    margin-top: 16px;
    grid-gap: 10px;
    padding-bottom: 30px;
    list-style: none;
    
    &__item {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

&__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        fill: #FFFFFF;
        background-color: #2196f3;
        border-radius: 50%;
    }
}



&__svg {
    fill: white;
}

&__li-2 {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background-color: #2196f3;
        
        border-radius: 50%;
    }
}
}
.footer2__socialmedia {
    display: flex;
    gap: 10px;
    list-style: none;
    padding-top: 20px;
    
}